/*===== Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

/*===== General Settings =====*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  display: inline-block;
  width: 100px;
  height: 70px;
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

.nav {
  order: 1;
}

.nav__list {
  list-style-type: none;
}

.nav__item {
  display: inline-block;
  padding: 0 20px;
}

.nav__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #474A51;
  transition: all .3s ease 0s;
}

.nav__link:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav__link:hover {
  color: #0088a9;
}

.btn {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all .3s ease 0s;
  color: #fff;
}
.cta{
  order: 2;
}